html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.banner {
  width: 100%;
  max-height: 500px;
  position: relative;
  text-align: left;
  display: inline-block;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
}

.banner-title {
  display: inline-block;
  position: relative;
  font-size: 4rem;
  color: #fff;
  transform: translate(0%, -120%);
  background-color: rgba(0, 0, 0, .5);
  max-width: 10em;
}

.banner-title h2 {
  font-family: "Open Sans", sans-serif;
  display: inline;
}

.banner-title h2 span {
  display: inline;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

p {
  font-size: 2rem;
  font-style: italic;
  max-width: 25em;
}
