html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}
/** Max Height Not working**/
.banner {
  max-height: 500px;
  position: relative;
  text-align: left;
  display: inline-block;
}
