html {
  box-sizing: border-box;
  font: normal 100%/ 1.5 "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  overflow: hidden;
}

article {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner {
  width: 100%;
  max-height: 500px;
  position: absolute;
  text-align: left;
  display: inline-block;
}

.banner-content {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;

}

.banner-title {
  display: inline-block;
  position: absolute;
  font-size: 4rem;
  color: #fff;
  transform: translate(0%, -225%);
  background-color: rgba(0, 0, 0, .5);
  max-width: 10em;
}

.banner-title h2 {
  margin-bottom: 1rem;
  display: inline;
}

.banner-title h2 span {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: .75em;
}
